@page
@model TruyenVNClient.Pages.Admin.Stories.CreateModel
@{
    Layout = "_LayoutAdmin";
}
<div class="row container-xxl flex-grow-1 container-p-y">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-body">
                <form method="post">
                    <p class="text-danger">@ViewData["error"]</p>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">Story Name</label>
                        <input type="text" asp-for="Story.story_name" class="form-control" id="basic-default-fullname" placeholder="Naruto" required/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-company">Story Description</label>
                        <textarea id="basic-default-message" asp-for="Story.description"
                                  class="form-control"
                                  placeholder="Truyện kể về..." required></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-email">Story Image</label>
                        <div class="input-group input-group-merge">
                            <div class="input-group">
                                <input asp-for="Story.story_image" type="file" class="form-control" id="inputGroupFile02" onchange="previewImage(this)" required/>
                                <label class="input-group-text" for="inputGroupFile02">Upload</label>
                            </div>
                        </div>
                        <div class="form-text">You can file img, png</div>
                        <div id="imagePreview"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-phone">Author</label>
                        <select asp-for="Author.author_id" asp-items="ViewBag.author" class="form-select" aria-label="Default select example">
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>

</div>
<script>
    function previewImage(fileInput) {
        var previewDiv = document.getElementById("imagePreview");

        // Kiểm tra xem người dùng đã chọn ảnh hay chưa
        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                // Hiển thị ảnh được chọn
                var imagePreview = document.createElement("img");
                imagePreview.src = e.target.result;
                imagePreview.alt = "Preview Image";
                imagePreview.style.width = "200px"; // Điều chỉnh kích thước hiển thị ảnh (tuỳ ý)
                imagePreview.style.height = "auto";
                previewDiv.innerHTML = "";
                previewDiv.appendChild(imagePreview);
            };

            // Đọc nội dung của ảnh
            reader.readAsDataURL(fileInput.files[0]);
        } else {
            // Nếu người dùng không chọn ảnh, xóa ảnh đã hiển thị
            previewDiv.innerHTML = "";
        }
    }
</script>
