@page
@model TruyenVNClient.Pages.CategoryModel
@{
}
<div class="content">


    <div class="div_middle">

        <div class="alert-note-fix"></div>


        <div class="main_content">
            <div id="main_homepage">
                <div class="homepage_tags">
                    <h1>
                        <p class="text_list_update">
                            <i class="fa fa-font-awesome" aria-hidden="true"></i> Truyện Action
                        </p>
                    </h1>
                    <div class="clear"></div>
                </div>
                <div class="tags_detail">
                    Thể loại này thường có nội dung về đánh nhau, bạo lực, hỗn loạn, với diễn biến nhanh
                </div>
                <div class="story-list-bl01 box">
                    <table>
                        <tr>
                            <th>Thể loại truyện</th>
                            <td>
                                <div class="select is-warning">
                                    <select id="category">
                                        <option selected value="https://truyenqqq.vn/the-loai/action-26.html">Action</option>
                                        <option value="https://truyenqqq.vn/the-loai/adventure-27.html">Adventure</option>


                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Tình trạng</th>
                            <td>
                                <ul class="choose">
                                    <li><a class="" href="https://truyenqqq.vn/the-loai/action-26.html?status=0">Đang tiến hành</a></li>
                                    <li><a class="" href="https://truyenqqq.vn/the-loai/action-26.html?status=2">Hoàn thành</a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Quốc gia</th>
                            <td>
                                <ul class="choose">
                                    <li><a class="" title="Truyện Trung Quốc" href="https://truyenqqq.vn/the-loai/action-26.html?country=1">Trung Quốc</a></li>
                                    <li><a class="" title="Truyện Việt Nam" href="https://truyenqqq.vn/the-loai/action-26.html?country=2">Việt Nam</a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Sắp xếp</th>
                            <td>
                                <div class="select is-warning">
                                    <select id="category-sort">
                                        <option value="https://truyenqqq.vn/the-loai/action-26.html?sort=0">Ngày đăng giảm dần</option>
                                        <option value="https://truyenqqq.vn/the-loai/action-26.html?sort=1">Ngày đăng tăng dần</option>
                                        <option value="https://truyenqqq.vn/the-loai/action-26.html?sort=2">Ngày cập nhật giảm dần</option>
                                        <option value="https://truyenqqq.vn/the-loai/action-26.html?sort=3">Ngày cập nhật tăng dần</option>
                                        <option value="https://truyenqqq.vn/the-loai/action-26.html?sort=4">Lượt xem giảm dần</option>
                                        <option value="https://truyenqqq.vn/the-loai/action-26.html?sort=5">Lượt xem tăng dần</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="list_grid_out">
                    <ul class="list_grid grid">

                        <li>
                            <div class="book_avatar">
                                <a href="https://truyenqqq.vn/truyen-tranh/cot-nhan-14490"><img class="center" src="https://i.truyenvua.com/ebook/190x247/cot-nhan_1690011131.jpg?gt=hdfgdfg&mobile=2" alt="Cốt Nhân"></a>

                                <div class="top-notice">
                                    <span class="time-ago">8 Giờ Trước</span> <span class="type-label new">New</span>
                                </div>
                            </div>
                            <div class="book_info">
                                <div class="book_name qtip" data-qtip="#truyen-tranh-14490">
                                    <h3><a title="Cốt Nhân" href="https://truyenqqq.vn/truyen-tranh/cot-nhan-14490">Cốt Nhân</a></h3>
                                </div>
                                <div class="clear"></div>
                                <div class="text_detail">
                                    <span>
                                        <i class="fa fa-bookmark"></i> 213
                                    </span>
                                    <span>
                                        <i class="fa fa-eye"></i>6,449
                                    </span>
                                </div>
                                <div class="last_chapter">
                                    <a href="https://truyenqqq.vn/truyen-tranh/cot-nhan-14490-chap-3.html" title="Chapter 3">Chapter 3</a>
                                </div>
                                <div class="more-info" id="truyen-tranh-14490" style="display:none;">
                                    <div class="title-more">Cốt Nhân</div>
                                    <p class="info">Tình trạng: Đang Cập Nhật</p>
                                    <p class="info">Lượt xem: 6,449</p>
                                    <p class="info">Lượt theo dõi: 213</p>
                                    <div class="list-tags">
                                        <p class="blue">Action</p>
                                        <p class="blue">Manhwa</p>
                                        <p class="blue">Truyện Màu</p>
                                    </div>
                                    <div class="excerpt"></div>
                                </div>
                            </div>

                            <div class="clear"></div>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
                <div class="page_redirect">
                    <a href="javascript:void(0)">
                        <p class="active">1</p>
                    </a>
                    <a href="https://truyenqqq.vn/the-loai/action-26/trang-2.html">
                        <p>2</p>
                    </a>
                    <a href="https://truyenqqq.vn/the-loai/action-26/trang-3.html">
                        <p>3</p>
                    </a>
                </div>



            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>