@page
@model TruyenVNClient.Pages.ChangePasswordModel
@{
}
<div class="content ">

    <div class="div_middle">
        <div class="alert-note-fix"></div>


        <div class="main_content">
            <title>Thay Đổi Mật Khẩu</title>
            <section class="main-content">
                <div class="container">
                    <div class="messages columns">
                        <div class="column is-narrow col-md-3 col-sm-12">
                            <ul class="nav-user">
                                <li><a class="li01 " href="https://truyenqqq.vn/quan-ly-tai-khoan.html"><i class="fa fa-user-circle"></i> Quản lý tài khoản</a></li>
                                <li><a class="li03 is-active" href="https://truyenqqq.vn/doi-mat-khau.html"><i class="fa fa-key"></i> Đổi mật khẩu</a></li>
                                <!--<li><a class="li04 " href="https://truyenqqq.vn/dang-ky-nhom-dich.html">Đăng ký nhóm dịch</a></li>-->
                                <!--<li><a class="li05 collection" href="collection.html">Quyên góp</a></li>-->
                            </ul>
                        </div>
                        <div class="column col-md-9 col-sm-12">
                            <div class="level title">
                                <p class="level-left has-text-weight-bold">Đổi mật khẩu</p>
                            </div>
                            <form method="post">
                                <div class="form-change-pass">
                                    <div class="field">
                                        <p class="txt">Mật khẩu hiện tại</p>
                                        <p class="control">
                                            <input class="input" type="password" value="" name="password_old" id="password_old">
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="txt">Mật khẩu mới</p>
                                        <p class="control">
                                            <input class="input" type="password" value="" name="password_new" id="password_new">
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="txt">Xác nhận mật khẩu</p>
                                        <p class="control">
                                            <input class="input" type="password" value="" name="confirm_password_new" id="confirm_password_new">
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control">
                                            <button class="button is-danger">Đổi mật khẩu</button>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.main-content -->
            <script>
            </script>
        </div>
    </div>
    <div class="clear"></div>
</div>