@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="content hompage light">
    <div class="div_middle">

        <div class="alert-note-fix"></div>


        <div class="main_content">
            <section class="hero">
                <div class="container">
                    <div class="tile is-ancestor">
                        <div class="tile is-3 is-vertical is-parent">
                            <div class="tile is-child">
                                <a href="https://truyenqqq.vn/truyen-tranh/thanh-guom-diet-quy-2624-chap-205-6.html">
                                    <div class="hero-item">
                                        <img class="cover" src="https://i.truyenvua.com/slider/290x191/slider_1559213537.jpg?gt=hdfgdfg&mobile=2" alt="cover" />
                                        <div class="bottom-shadow"></div>
                                        <div class="captions">
                                            <h3>Thanh Gươm Diệt Quỷ</h3>
                                        </div>
                                        <div class="chapter green">Chương 205.6</div>
                                    </div>
                                    <!-- /.hero-item -->
                                </a>
                            </div>
                            <div class="tile is-child">
                                <a href="https://truyenqqq.vn/truyen-tranh/one-piece-128-chap-1088.html">
                                    <div class="hero-item">
                                        <img class="cover" src="https://i.truyenvua.com/slider/290x191/slider_1559211185.jpg?gt=hdfgdfg&mobile=2" alt="cover" />
                                        <div class="bottom-shadow"></div>
                                        <div class="captions">
                                            <h3>One Piece</h3>
                                        </div>
                                        <div class="chapter red">Chương 1088</div>
                                    </div>
                                    <!-- /.hero-item -->
                                </a>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child">
                                <a href="https://truyenqqq.vn/truyen-tranh/hoc-vien-anh-hung-380-chap-394.html">
                                    <div class="hero-item has-excerpt">
                                        <img class="cover" src="https://i.truyenvua.com/slider/583x386/slider_1560573084.jpg?gt=hdfgdfg&mobile=2" alt="cover" />
                                        <div class="bottom-shadow"></div>
                                        <div class="captions">
                                            <h5>Thể loại: Action, Adventure, Comedy, Shounen, Supernatural</h5>
                                            <h3>Học Viện Anh Hùng</h3>
                                        </div>
                                        <div class="chapter violet">Chương 394</div>
                                        <div class="excerpt">
                                            Vào tương lai, lúc mà con người với những sức mạnh siêu nhiên là điều thường thấy quanh thế giới. Đây là câu chuyện về Izuku Midoriya, từ một kẻ bất tài trở thành một siêu anh hùng. Tất cả ta cần là mơ ước.
                                        </div>
                                    </div>
                                    <!-- /.hero-item -->
                                </a>
                            </div>
                        </div>
                        <div class="tile is-3 is-vertical is-parent">
                            <div class="tile is-child">
                                <a href="https://truyenqqq.vn/truyen-tranh/hoi-phap-su-nhiem-vu-tram-nam-5212-chap-136.html">
                                    <div class="hero-item">
                                        <img class="cover" src="https://i.truyenvua.com/slider/290x191/slider_1561609693.jpg?gt=hdfgdfg&mobile=2" alt="cover" />
                                        <div class="bottom-shadow"></div>
                                        <div class="captions">
                                            <h3>Hội Pháp Sư Nhiệm Vụ Trăm Năm</h3>
                                        </div>
                                        <div class="chapter blue">Chương 136</div>
                                    </div>
                                    <!-- /.hero-item -->
                                </a>
                            </div>
                            <div class="tile is-child">
                                <a href="https://truyenqqq.vn/truyen-tranh/vuong-gia-thien-ha-245-chap-763.html">
                                    <div class="hero-item">
                                        <img class="cover" src="https://i.truyenvua.com/slider/290x191/slider_1567830171.jpg?gt=hdfgdfg&mobile=2" alt="cover" />
                                        <div class="bottom-shadow"></div>
                                        <div class="captions">
                                            <h3>Vương Giả Thiên Hạ</h3>
                                        </div>
                                        <div class="chapter orange">Chương 763</div>
                                    </div>
                                    <!-- /.hero-item -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- /.schedule -->
            <div class="homepage_suggest">
                <h2>
                    <p class="text_list_hot">
                        <i class="fa fa-star"></i> Truyện hay
                    </p>
                </h2>
                <div id="div_suggest">
                    <ul class="list_grid grid" id="list_suggest">
                        <li>
                            <div class="book_avatar">
                                <a href="https://truyenqqq.vn/truyen-tranh/bach-luyen-thanh-than-1099"><img class="center" src="https://i.truyenvua.com/ebook/190x247/bach-luyen-thanh-than_1444715692.jpg?gt=hdfgdfg&mobile=2" alt="Bách Luyện Thành Thần"></a>
                                <div class="top-notice">
                                    <span class="time-ago">1 Giờ Trước</span> <span class="type-label hot">Hot</span>
                                </div>

                            </div>
                            <div class="book_info">
                                <div class="book_name">
                                    <h3 itemprop="name"><a title="Bách Luyện Thành Thần" href="https://truyenqqq.vn/truyen-tranh/bach-luyen-thanh-than-1099">Bách Luyện Thành Thần</a></h3>
                                </div>
                                <div class="clear"></div>
                                <div class="last_chapter">
                                    <a href="https://truyenqqq.vn/truyen-tranh/bach-luyen-thanh-than-1099-chap-1103.html">Chương 1103</a>
                                </div>
                            </div>

                            <div class="clear"></div>
                        </li>
                        <li>
                            <div class="book_avatar">
                                <a href="https://truyenqqq.vn/truyen-tranh/toi-viet-sach-de-thang-cap-10492"><img class="center" src="https://i.truyenvua.com/ebook/190x247/toi-viet-sach-de-thang-cap_1604896199.jpg?gt=hdfgdfg&mobile=2" alt="Tôi Viết Sách Để Thăng Cấp"></a>
                                <div class="top-notice">
                                    <span class="time-ago">3 Giờ Trước</span> <span class="type-label hot">Hot</span>
                                </div>

                            </div>
                            <div class="book_info">
                                <div class="book_name">
                                    <h3 itemprop="name"><a title="Tôi Viết Sách Để Thăng Cấp" href="https://truyenqqq.vn/truyen-tranh/toi-viet-sach-de-thang-cap-10492">Tôi Viết Sách Để Thăng Cấp</a></h3>
                                </div>
                                <div class="clear"></div>
                                <div class="last_chapter">
                                    <a href="https://truyenqqq.vn/truyen-tranh/toi-viet-sach-de-thang-cap-10492-chap-145.html">Chương 145</a>
                                </div>
                            </div>

                            <div class="clear"></div>
                        </li>
                        <li>
                            <div class="book_avatar">
                                <a href="https://truyenqqq.vn/truyen-tranh/toan-chuc-phap-su-4140"><img class="center" src="https://i.truyenvua.com/ebook/190x247/toan-chuc-phap-su_1518956513.jpg?gt=hdfgdfg&mobile=2" alt="Toàn Chức Pháp Sư"></a>
                                <div class="top-notice">
                                    <span class="time-ago">6 Giờ Trước</span> <span class="type-label hot">Hot</span>
                                </div>

                            </div>
                            <div class="book_info">
                                <div class="book_name">
                                    <h3 itemprop="name"><a title="Toàn Chức Pháp Sư" href="https://truyenqqq.vn/truyen-tranh/toan-chuc-phap-su-4140">Toàn Chức Pháp Sư</a></h3>
                                </div>
                                <div class="clear"></div>
                                <div class="last_chapter">
                                    <a href="https://truyenqqq.vn/truyen-tranh/toan-chuc-phap-su-4140-chap-1065.html">Chương 1065</a>
                                </div>
                            </div>

                            <div class="clear"></div>
                        </li>
                        <li>
                            <div class="book_avatar">
                                <a href="https://truyenqqq.vn/truyen-tranh/vo-luyen-dinh-phong-3926"><img class="center" src="https://i.truyenvua.com/ebook/190x247/vo-luyen-dinh-phong_1514903369.jpg?gt=hdfgdfg&mobile=2" alt="Võ Luyện Đỉnh Phong"></a>
                                <div class="top-notice">
                                    <span class="time-ago">7 Giờ Trước</span> <span class="type-label hot">Hot</span>
                                </div>

                            </div>
                            <div class="book_info">
                                <div class="book_name">
                                    <h3 itemprop="name"><a title="Võ Luyện Đỉnh Phong" href="https://truyenqqq.vn/truyen-tranh/vo-luyen-dinh-phong-3926">Võ Luyện Đỉnh Phong</a></h3>
                                </div>
                                <div class="clear"></div>
                                <div class="last_chapter">
                                    <a href="https://truyenqqq.vn/truyen-tranh/vo-luyen-dinh-phong-3926-chap-3464.html">Chương 3464</a>
                                </div>
                            </div>

                            <div class="clear"></div>
                        </li>
                        <li>
                            <div class="book_avatar">
                                <a href="https://truyenqqq.vn/truyen-tranh/noragami-629"><img class="center" src="https://i.truyenvua.com/ebook/190x247/noragami_1552633208.jpg?gt=hdfgdfg&mobile=2" alt="Noragami"></a>
                                <div class="top-notice">
                                    <span class="time-ago">13 Giờ Trước</span> <span class="type-label hot">Hot</span>
                                </div>

                            </div>
                            <div class="book_info">
                                <div class="book_name">
                                    <h3 itemprop="name"><a title="Noragami" href="https://truyenqqq.vn/truyen-tranh/noragami-629">Noragami</a></h3>
                                </div>
                                <div class="clear"></div>
                                <div class="last_chapter">
                                    <a href="https://truyenqqq.vn/truyen-tranh/noragami-629-chap-106-2.html">Chương 106.2</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                    <div class="clear"></div>
                    <div class="scroll" style="display: block;">
                        <div onclick="scroll_div('left');" class="left">
                            <i class="fa fa-angle-left"></i>
                        </div>
                        <div onclick="scroll_div('right');" class="right">
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div id="main_homepage">
                <div class="homepage_tags">
                    <h1>
                        <p class="text_list_update">
                            <a href="https://truyenqqq.vn/truyen-moi-cap-nhat.html"><i class="fa fa-cloud-download" aria-hidden="true"></i> Truyện mới cập nhật</a>
                        </p>
                    </h1>
                    <div class="sort">
                        <a href="https://truyenqqq.vn/tim-kiem-nang-cao.html">
                            <button> <i class="fa fa-filter" aria-hidden="true"></i></button>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="list_grid_out">
                    <ul class="list_grid grid" id="list_new">
                        <li>
                            <div class="book_avatar">
                                <a href="https://truyenqqq.vn/truyen-tranh/shoukoku-no-altair-4291"><img class="center" src="https://i.truyenvua.com/ebook/190x247/shoukoku-no-altair_1522157111.jpg?gt=hdfgdfg&mobile=2" alt="Shoukoku No Altair"></a>

                                <div class="top-notice">
                                    <span class="time-ago">17 Phút Trước</span>
                                </div>
                            </div>
                            <div class="book_info">
                                <div class="book_name qtip" data-qtip="#truyen-tranh-4291">
                                    <h3><a title="Shoukoku No Altair" href="https://truyenqqq.vn/truyen-tranh/shoukoku-no-altair-4291">Shoukoku No Altair</a></h3>
                                </div>
                                <div class="clear"></div>
                                <div class="text_detail">
                                    <span>
                                        <i class="fa fa-bookmark"></i> 507
                                    </span>
                                    <span>
                                        <i class="fa fa-eye"></i>94,173
                                    </span>
                                </div>
                                <div class="last_chapter">
                                    <a href="https://truyenqqq.vn/truyen-tranh/shoukoku-no-altair-4291-chap-76.html" title="Chapter 76">Chapter 76</a>
                                </div>
                                <div class="more-info" id="truyen-tranh-4291" style="display:none;">
                                    <div class="title-more">Shoukoku No Altair</div>
                                    <div class="title-more-other">Tên khác: Biên Sử Của Cuộc Chiến; Biên Niên Sử Kí</div>
                                    <p class="info">Tình trạng: Đang Cập Nhật</p>
                                    <p class="info">Lượt xem: 94,173</p>
                                    <p class="info">Lượt theo dõi: 507</p>
                                    <div class="list-tags">
                                        <p class="blue">Action</p>
                                        <p class="blue">Adventure</p>
                                        <p class="blue">Drama</p>
                                        <p class="blue">Fantasy</p>
                                        <p class="blue">Shounen</p>
                                        <p class="blue">Historical</p>
                                    </div>
                                    <div class="excerpt">
                                        Mahmut là một Pasha trẻ phục vụ trong Hội đồng nhân chung của Türkiye. Mây đen chiến tranh đang tập trung trên đất nước của anh ấy. Với Hội đồng Türkiye được phân chia giữa phe hiếu chiến và phe hòa bình, Mahmut
                                        bắt đầu cuộc tìm kiếm của mình để gìn giữ hòa bình bằng mọi giá. Như anh  tìm thấy bản c...
                                    </div>
                                </div>
                            </div>

                            <div class="clear"></div>
                        </li>
                        <li>
                            <div class="book_avatar">
                                <a href="https://truyenqqq.vn/truyen-tranh/ke-that-nghiep-bat-kha-chien-bai-13060"><img class="center" src="https://i.truyenvua.com/ebook/190x247/ke-that-nghiep-bat-kha-chien-bai_1665130340.jpg?gt=hdfgdfg&mobile=2" alt="Kẻ Thất Nghiệp Bất Khả Chiến Bại"></a>

                                <div class="top-notice">
                                    <span class="time-ago">24 Phút Trước</span> <span class="type-label hot">Hot</span>
                                </div>
                            </div>
                            <div class="book_info">
                                <div class="book_name qtip" data-qtip="#truyen-tranh-13060">
                                    <h3><a title="Kẻ Thất Nghiệp Bất Khả Chiến Bại" href="https://truyenqqq.vn/truyen-tranh/ke-that-nghiep-bat-kha-chien-bai-13060">Kẻ Thất Nghiệp Bất Khả Chiến Bại</a></h3>
                                </div>
                                <div class="clear"></div>
                                <div class="text_detail">
                                    <span>
                                        <i class="fa fa-bookmark"></i> 2,126
                                    </span>
                                    <span>
                                        <i class="fa fa-eye"></i>264,124
                                    </span>
                                </div>
                                <div class="last_chapter">
                                    <a href="https://truyenqqq.vn/truyen-tranh/ke-that-nghiep-bat-kha-chien-bai-13060-chap-39.html" title="Chapter 39">Chapter 39</a>
                                </div>
                                <div class="more-info" id="truyen-tranh-13060" style="display:none;">
                                    <div class="title-more">Kẻ Thất Nghiệp Bất Khả Chiến Bại</div>
                                    <div class="title-more-other">Tên khác: Vô Công Nhưng Vô Địch</div>
                                    <p class="info">Tình trạng: Đang Cập Nhật</p>
                                    <p class="info">Lượt xem: 264,124</p>
                                    <p class="info">Lượt theo dõi: 2,126</p>
                                    <div class="list-tags">
                                        <p class="blue">Action</p>
                                        <p class="blue">Fantasy</p>
                                        <p class="blue">Manhwa</p>
                                        <p class="blue">Truyện Màu</p>
                                    </div>
                                    <div class="excerpt">
                                        Shin Minchul được triệu hồi đến một thế giới gọi là ‘Anhelles'. 200 năm qua đi với vô vàn cuộc chiến sinh tồn và tiêu diệt kẻ thù thống trị toàn lục địa Jeros, kết thúc chuỗi ngày chiến tranh khắc nghiệt. Sau đó,
                                        Minchul quay về Trái Đất, bỏ lại Anhelles sau lưng, muốn sống một cuộc sống giàu có hưở...
                                    </div>
                                </div>
                            </div>

                            <div class="clear"></div>



                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div style="width:100%">
    <script async src="https://cdn.aanetwork.vn/code/9/0/903ce9225fca3e988c2af215d4e544d3.js" crossorigin="anonymous"></script>
</div>
