@page
@model TruyenVNClient.Pages.ProfileModel
@{
}


<div class="div_middle">
    <div class="alert-note-fix"></div>
    <div class="main_content">
        <title>Sửa Thông Tin Cá Nhân</title>
        <section class="main-content">
            <div class="container">
                <div class="messages columns">
                    <div class="column is-narrow col-md-3 col-sm-12">
                        <ul class="nav-user">
                            <li><a class="li01 is-active" href="/Profile?id=@Model.User.user_id"><i class="fa fa-user-circle"></i> Quản lý tài khoản</a></li>
                            <li><a class="li03 " href="/ChangePassword?id=@Model.User.user_id"><i class="fa fa-key"></i> Đổi mật khẩu</a></li>

                        </ul>
                    </div>
                    <div class="column columns col-md-9 col-sm-12">
                        <div class="user-main column">
                            <div class="level title">
                                <p class="level-left has-text-weight-bold">Thông tin tài khoản</p>
                            </div>

                            <form method="post">

                                <input type="hidden" asp-for="User.user_id" />
                                <input type="hidden" asp-for="User.Email" />
                                <div class="form-change-pass">
                                    <div class="field">
                                        <p class="txt">Email:</p>
                                        <p class="control">
                                            <input class="input" type="email" value="@Model.User.Email" disabled>
                                        </p>
                                    </div>
                                </div>
                                <div class="level title user-title">
                                    <p class="level-left has-text-weight-bold">Thông tin cá nhân</p>
                                </div>
                                <div class="form-change-pass user-form">
                                    <div class="field">
                                        <p class="txt">Tên</p>
                                        <p class="control">
                                            <input class="input" asp-for="User.Name" type="text">
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="txt">Ngày Sinh</p>
                                        <p class="control">
                                            <input class="input" asp-for="User.DateOfBirth" type="date">
                                        </p>
                                    </div>
                                    <div class="field user-field">
                                        <span class="txt">Giới tính</span>
                                        @if (Model.User.Gender.Equals("Male"))
                                        {
                                            <input type="radio" id="gender1" name="gender" value="Male" checked>
                                            <label for="gender1">Nam</label>
                                            <input type="radio" id="gender2" name="gender" value="Female">
                                            <label for="gender2">Nữ</label>
                                        }
                                        else
                                        {
                                            <input type="radio" id="gender1" name="gender" value="Male">
                                            <label for="gender1">Nam</label>
                                            <input type="radio" id="gender2" name="gender" value="Female" checked>
                                            <label for="gender2">Nữ</label>
                                        }
                                    </div>

                                    <div class="field">
                                        <p class="control">
                                            <button class="button is-danger" type="submit">Lưu</button>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
    </div>
</div>


