@{
    int? id = Context.Session.GetInt32("id");
    string? email = Context.Session.GetString("emailUser");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TruyenVN - Đọc truyện online, đọc truyện hay</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://st.truyenqqq.vn/template/frontend/styles/style.css?v=1.8.8" type="text/css" rel="stylesheet">
    <link href="https://st.truyenqqq.vn/template/frontend/styles/dark_style.css?v=1.3.3" type="text/css" rel="stylesheet">
    <link href="https://st.truyenqqq.vn/template/frontend/icon/css/font-awesome.min.css?v=1.2.2" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="https://banner2.cleanpng.com/20180529/lje/kisspng-flag-of-vietnam-vietnam-flag-5b0cde2898f552.5702757415275699606265.jpg">


</head>
<body class="hompage light">
    <header>
        <div class="top">
            <div class="div_middle">
                <div style="float:left; font-size: 24px">
                    <a href="/index" title="Truyện tranh online">
                        <p class="pc_display text-center text-lg-center" style="color: orange"><i class="fa fa-book" aria-hidden="true"></i>TruyenVN</p>
                        <img alt="TruyenVN" class="mobile_display" src="/img/Logo.png">

                    </a>
                    <div class="clear"></div>
                </div>
                <div class="right">
                    @if (email == null)
                    {
                        <ul>
                            <li onclick="$('header .top_search').slideDown()" class="other"><i class="fa fa-search" aria-hidden="true"></i></li>
                            <li><a class="btn btn-primary" href="/Register">Đăng ký</a></li>
                            <li><a class="btn btn-primary" href="/Login">Đăng nhập</a></li>
                        </ul>
                    }
                    else
                    {
                        <ul>
                            <li class="profile">
                                <div onclick="show_hidden_div('member_control');" class="member_profile">
                                    <img src="https://st.truyenqqq.vn/template/frontend/images/noavatar.png">
                                    <div class="clear"></div>
                                </div>
                                <div target="member_control" id="member_control" class="hidden_div">
                                    <ul>
                                        <li><a href="/ComicHistory?id=@id">Lịch sử đọc truyện</a></li>
                                        <li><a rel="nofollow" href="/Profile?id=@id">Cài đặt thông tin</a></li>
                                        <li><a rel="nofollow" href="/Logout">Đăng xuất</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </li>
                        </ul>
                    }
                    <div class="clear"></div>
                </div>
                <button id="setting_dark_mode" onclick="setting_active_dark_mode(this);" class="dark_mode">
                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                </button>
                <div class="top_search">
                    <input class="search" id="search_input" placeholder="Bạn muốn tìm truyện gì">
                    <button>
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                    <div class="search_result">
                        <ul></ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="bottom">
            <div class="div_middle">
                <ul id="header_left_menu">
                    <li>
                        <a class="tags_name pc_hover" href="">Trang Chủ</a>
                    </li>
                    <li class="menu_hidden">
                        <p class="tags_name pc_hover mega_menu">Thể Loại <i class="fa fa-caret-down"></i></p>
                        <div class="hidden_menu book_tags">
                            <div class="div_middle">
                                <div class="book_tags_content" id="cate">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="clear"></div>
            </div>
            <div class="nav_menu mobile_display"><i onclick="show_bottom_menu(this)" class="fa fa-list" aria-hidden="true"></i></div>
        </div>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="light">
        <div class="div_middle">
            <div class="left">
                <p style="color: orange; font-size: 24px" itemscope="" itemtype="http://schema.org/Organization">
                    <a itemprop="url" href="/">
                        <p class="pc_display text-lg-start"><i class="fa fa-book" aria-hidden="true"></i>TruyenVN</p>
                    </a>
                </p>

                <p>Trang web đọc truyện trực tuyến. Cảm ơn các bạn đã ủng hộ</p>
                <p>TruyenVN chúc các bạn đọc truyện vui vẻ! Mọi thắc mắc vui lòng ibox cho Email sau </p>
                <p class="link">Email: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="2140455255535458444f505061464c40484d0f424e4c"></a></p>
            </div>
            <div class="right">
                <p>
                    Mọi thông tin và hình ảnh trên website đều được sưu tầm trên Internet. Chúng tôi không sở hữu hay chịu trách nhiệm bất kỳ thông tin nào trên web này. Nếu làm ảnh hưởng đến cá nhân hay tổ chức nào, khi được yêu cầu, chúng tôi sẽ xem xét
                    và gỡ bỏ ngay lập tức.
                </p>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://st.truyenqqq.vn/template/frontend/js/readmore.min.js?v=1.1.2" type="text/javascript"></script>
    <script src="https://st.truyenqqq.vn/template/frontend/tinymce/tinymce.min.js?v=1.12" type="text/javascript"></script>
    <script src="https://st.truyenqqq.vn/template/frontend/js/jquery.lazy.min.js?v=1.12" type="text/javascript"></script>
    <script src="https://st.truyenqqq.vn/template/frontend/js/main.js?v=1.5.8" type="text/javascript"></script>
    <script src="https://st.truyenqqq.vn/template/frontend/js/comment.js?v=1.2.6" type="text/javascript"></script>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript"></script>


    
    <script>
        $(document).ready(function () {
            ALlCategory();

            function ALlCategory() {
                $.ajax({
                    url: "https://localhost:7029/odata/Categories",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result, status, xhr) {

                        $.each(result.value, function (index, value) {
                            $("#cate").append("<p><a title=\"" + value["cate_name"] + "\" href=\"/Category?catgoryId=" + value["cate_id"] + "\">" + value["cate_name"] + "</a></p>");
                        });
                        $("#cate").append("<div class=\"clear\"></div>");
                    },
                    error: function (xhr, status, error) {
                        console.log("LỖi" + xhr)
                    }
                });
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>